<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>LogicFlow</title>
    <!--LogicFlow core包css-->
    <link rel="stylesheet" href="/static/script/library/logicflow/css/logicflow-core.css" />
    <!--LogicFlow extension包css-->
    <link rel="stylesheet" href="/static/script/library/logicflow/css/logicflow-extension.css" />
    <link rel="stylesheet" href="/static/style/common.css" />

    <!--LogicFlow core包js-->
    <script src="/static/script/library/logicflow/logic-flow.js"></script>
    <!--LogicFlow的插件支持单个引入，这里以菜单插件为例-->
    <script src="/static/script/library/logicflow/menu.js"></script>
</head>
<body>
<div class="flow-canvas" id=""></div>
</body>
<script src="/static/script/index-logicflow.js"></script>
</html>